$primary-color: #163D5C;
$secondary-color: #2A2A2A;
$light-blue-color:#0082C8;
$anchor-link-color: #575757;
$primary-font: "Source Sans 3", sans-serif;
$title-font: "Barlow Condensed", sans-serif;
$grey-color: #7A7A7A;
$light-grey-color: #F2F2F2;