@use "variables" as v;

.simple-accordion {
	.accordion-button {
		font-weight: 700;
		font-style: Bold;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0%;
		color: v.$primary-color;
		border-bottom: 1px solid #AAAAAA !important;
		&:not(.collapsed) {
			background-color: transparent;
			color: v.$primary-color;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.accordion-body {
		font-weight: 400;
		font-style: Regular;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0%;
		color: #2A2A2A;
	}
	&#filterOptionPanel{
		.accordion-header{
			button{
				font-weight: 700;
				font-style: Bold;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0%;
				color: v.$secondary-color;
			    border-bottom: 1px solid #DCDCDC !important;
			}
		}
		.accordion-body{
			padding:0;
		}
		.accordion-item{
			border:0;
		}
		.modal-footer{
			box-shadow: 0px 0px 15px 0px #0000001A;
		}
		
	}
	.input-check-container{
		display:flex;
		flex-wrap: wrap;
		.input-group{
			padding: 1rem; /* Add some spacing inside the columns */
			box-sizing: border-box; /* Ensures padding/border doesn't add to the total width */
			display: unset;
			padding:0 10px;
			.input-group-text{
				padding: 15px 20px;
			}
		}
	}
	.input-group{
		input{
			padding:15px;
			&.input-search{
				
				position: relative;
				border-right:0
				
			}
		}
		.input-group-text{
			background-color: transparent;
			color:v.$secondary-color;

			.form-check-input{
				height: 24px;
				width:24px;
				padding:0;
			}
		}
		
	}
	.double_range_slider_box {
		position: relative;
		width: 100%;
		height: 120px;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;

		.double_range_slider {
			width: 90%;
			height: 10px;
			position: relative;
			background-color: #dddddd;
			border-radius: 20px;
		}
		.range_track {
			height: 100%;
			position: absolute;
			border-radius: 20px;
			background-color: v.$light-blue-color;
		}

		input {
			position: absolute;
			width: 100%;
			height: 5px;
			background: none;
			pointer-events: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			top: 50%;
			transform: translateY(-50%);
		}
		input::-webkit-slider-thumb {
			height: 25px;
			width: 25px;
			border-radius: 50%;
			border: 1px solid v.$light-blue-halo-color;
			background-color: v.$light-blue-color;
			pointer-events: auto;
			-webkit-appearance: none;
			cursor: pointer;
			margin-bottom: 1px;
		}
		input::-moz-range-thumb {
			height: 18px;
			width: 18px;
			border-radius: 50%;
			border: 1px solid v.$light-blue-halo-color;
			background-color: v.$light-blue-color;
			pointer-events: auto;
			-moz-appearance: none;
			cursor: pointer;
			margin-top: 30%;
		}

		.minvalue {
			position: absolute;
			padding: 6px 15px;
			background: v.$light-blue-color;
			border-radius: 1rem;
			color: white;
			bottom: 0;
			transform: translate(0, -100%);
			left: 0;
			font-size: 1rem;
			transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
			will-change: left, transform;
		}
		.maxvalue {
			position: absolute;
			padding: 6px 15px;
			background: v.$light-blue-color;
			border-radius: 1rem;
			color: white;
			top: 0;
			transform: translate(0, 100%);
			right: 0;
			font-size: 1rem;
			transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
			will-change: right, transform;
		}
	}

		

}
.search-results-accordion {
	.filter-form{
		.input-form-group{
			    display: flex;
				align-items: stretch;
				color: v.$primary-color;
				text-align: left;
				>div{
					&:first-child{
						display: flex;
						align-items: center;
						flex-grow: 1;
						width:35%;
						text-align: left;

						.dropdown{
							width:50%;

							&:first-child{
								button{
									border-radius:10px 0 0 10px;
								}
							}
							&:last-child{
								button{
									border-radius:0;
								}
							}
							.dropdown-menu{
								min-width:100%;
							}
							button{
								background-color: v.$light-grey-color;
								text-align: left;
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: space-between;
								padding-left:30px;

								&:focus{
									box-shadow:none;
									border: 0;
									outline: 0;
								}

								&::after{
								    content: "\f107";
									font-family: FontAwesome;
									margin-left: 0;
									vertical-align: auto;
									border: 0;
									right: 0;
								}
							}
						}
					}
					&:last-child{
						width: 65%;
						display: flex;
						align-items: center;

						input{
							background-color: v.$light-grey-color;
							padding:10px 30px;
							border:1px solid v.$light-grey-color;
							border-radius:0 0;
							text-align: left;
						}
						button{
							min-width: 48px;
							width:48px;
							background-color: v.$light-blue-color;
							border-radius:0 10px 10px 0;
						}
					}
				}
		}
	}
	.accordion-button {
		font-weight: 700;
		font-style: Bold;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0%;
		color: v.$primary-color;
		&:not(.collapsed) {
			background-color: transparent;
			color: v.$primary-color;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.accordion-item{
		opacity: 1;
		padding-top: 24px;
		padding-right: 40px;
		padding-bottom: 24px;
		padding-left: 40px;
		border-radius: 20px;
		margin-bottom:20px;
		background-color: transparent;
		border:1px solid #AAAAAA;

		&.item-hide{
			display:none;
		}

		.accordion-header{
			margin-bottom:0 !important;
			.accordion-button{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0;
				&:after{
					display: none;
				}
				h4{
					font-weight: 700;
					font-style: Bold;
					font-size: 24px;
					line-height: 32px;
					letter-spacing: 0%;

				}
			}
		}
		.accordion-collapse{
			&:focus{
				box-shadow:none;
			}
		}
		.accordion-button{
			box-shadow:none;

			&:focus{
				box-shadow:none;
			}
		}
		.accordion-body{
			padding:0;
			&:focus{
				box-shadow:none;
			}
			.result-info{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding-left: 0;

				li{
					text-align: center;
					display: flex;
					flex-direction: column;
					padding: 25px;
					background-color: v.$light-grey-color;
					border-radius: 10px;
					width: 278px;
					@media screen and (max-width: 768px) {
						width: 100%;
					}

					.title{
						
						font-weight: 400;
						font-style: Regular;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: 0%;

					}
					.stat{
						font-weight: 700;
						font-style: Bold;
						font-size: 24px;
						line-height: 32px;
						letter-spacing: 0%;

					}
				}
			}
		}
	}
}