@use 'variables' as v;
.ugo-template {
    //Global Styles
    font-family: v.$primary-font;
    color:v.$secondary-color;

    h1,h2{
        font-family: v.$title-font;
        font-weight: 500;
        font-style: Medium;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: capitalize;
        color: v.$secondary-color;

    }
    h3{
        font-family: v.$title-font;
        font-weight: 500;
        font-style: Medium;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0%;

    }
    h1{
         margin-bottom: 50px;
    }
    h2,h3{
        margin-bottom: 30px;
    }
    p{
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: v.$secondary-color;

    }
    ul{
        list-style: none;
        &.btn-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0;
        }
        &.list-bullet{
            list-style-type: disc;
        }
    }
    ::placeholder,.input-form-group .dropdown-toggle{
        color:v.$grey-color;
        opacity:1;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

    }
    .padding-bottom-none{
        padding-bottom:0 !important;
    }
    .parallax{
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .btn{
        border-radius: 10px;
        padding: 10px 15px;
        font-family: v.$primary-font;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

        &.btn-white{
            background-color: #FFFFFF;
            border-color: #FFFFFF;
            color:v.$light-blue-color;

            &:hover{
                background-color: darken(#FFFFFF, 10%);
                border-color: darken(#FFFFFF, 10%);
            }
        }
        &.btn-blue{
            background-color: v.$light-blue-color;
            border-color: v.$light-blue-color;
            color:#fff;
            &:hover{
                background-color: darken(v.$light-blue-color, 10%);
                border-color: darken(v.$light-blue-color, 10%);
            }
        }
        
        &.btn-primary{
            background-color: v.$primary-color;
            border-color: v.$primary-color;
            color:#fff;
            font-weight: 700;
            font-style: Bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            border-radius: 10px;

            &:hover{
                background-color: darken(v.$primary-color, 10%);
                border-color: darken(v.$primary-color, 10%);
            }
        }
    }
    .container-xl{
        max-width: 2500px;
    }
    .text-box{
        padding:30px 0
    }
    .image-left, .image-right{
        .image-box{
            display: flex;
        }
    }
    .image-left{
        .image-box{
            justify-content: start;
        }
    }
    .image-right{
        .image-box{
            justify-content: end;
        }
    }
    .row-reverse{
        flex-direction: row-reverse;
    }
    .bg-light-grey{
        background-color: v.$light-grey-color;
    }
    .bg-light-blue{
        background-color: v.$light-blue-color;
        h1,h2,h3,p{
            color: #FFFFFF;
        }
    }
    .center-box-section {
        padding: 3rem 0;
    }
    .center-box {
        margin:0 auto;
        background: #ffffff;
        height: 400;
        min-height: 400px;
        gap: 32px;
        opacity: 1;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0px 0px 15px 0px #0000001A;
        @media screen and (min-width: 600px) {
            width: 70%;
        }
    }
    section{
        .btn{
            min-width: 240px;
        }
    }
    // Promo Banner
    //Hero Section
    .hero{
        .hero-description{
            @media screen and (min-width: 600px) {
                padding:50px 50px 50px 0;
            }
        }
        .main-hero-image{
            .image-right{
                display: flex;
                justify-content: end;
            }
            .image-left{
                display: flex;
                justify-content: start;
            }
        }
        &.primary-bg{
            background: v.$primary-color;
            h1,h2,p{
                color:#fff;
            }
        }
       
        #hero-school-search{
            ul{
                &.btn-list{
                    a{
                        &.active{
                            background-color: darken(#000, 10%);
                            border-color: darken(#000, 10%);
                            color: #FFF;
                        }
                    }
                }
            }
            .input-form-group{
                display: flex;
                align-items: stretch;
                color:v.$grey-color;
                >div{
                    display: flex;
                    width: 50%;

                    &:first-child{
                         .btn{
                            border-radius: 10px 0 0 10px;
                            height: 100%;

                        }
                         .dropdown{
                            width:100%;
                             &:after{
                                content: '';
                                width: 2px;
                                height: 60%;
                                background: v.$grey-color;
                                position: absolute;
                                right:0;
                                top:20%;

                                 &:focus{
                                    box-shadow: none;
                                    outline: none;
                                }
                             }
                            button{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                &:focus{
                                    box-shadow: none;
                                    outline: none;
                                }
                                &:after{
                                    content:'\f107';
                                    font-family: FontAwesome;
                                    margin-left: 0;
                                    vertical-align: auto;
                                    border:0;
                                    right: 0;
                                }
                            }
                            .dropdown-menu{
                                width: 100%;
                            }

                         }
                    }

                    &:last-child{
                        
                        input{
                            border-radius: 0;
                            outline:0;
                            border:0;
                        }
                        button{
                            border-radius: 0 10px 10px 0;
                        }
                    }
                }
            }
        }
    }

    footer{
        font-family: v.$primary-font;
        background-color: v.$primary-color;
        color:#fff;
        .image-container{
            margin-bottom: 30px;
        }
        .row{
            &:first-child{
                justify-content: space-evenly;
            }
        }

        h5{
            font-weight: 700;
            font-style: Bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            vertical-align: middle;
            color:#fff;
            margin-bottom: 10px;
        }

        ul{
            &.sub-footer-links{
                display: flex;
                justify-content: end;
            }
            li{
                list-style: none;
                margin-bottom:10px;
                a{
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-decoration: none;
                    color:#fff;

                    &:hover{
                        color:#FFF;
                    }
                }
            }
        }
    }
    //Input Form Group
    .input-form-group{
        .dropdown-toggle{
            background-color: #fff;
        }
    }

    .section-form{
        input,textarea,select{
            opacity: 1;
            border-radius: 10px;
            border-width: 1px;
            border: 1px solid #DCDCDC

        }
        input,select{
            height: 48px;
        }
        &.section-contact-form{
            position:relative;
            .image-container{
                &.float-right{
                    position:absolute;
                    top:50px;
                    right:0;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
            h5{
                font-family: v.$primary-font;
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0%;
            }
            h3{
                font-weight: 500;
                font-style: Medium;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: 0%;

            }

            .form-container{
                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap:20px;
                    margin-top:30px;
                    >.hs-form-field,>.hs-dependent-field{
                        width: 30%;
                    }
                    .hs-message{
                        width:60%;
                        textarea{
                            height: 150px;
                        }
                    }
                    .legal-consent-container, .hs-recaptcha,.hs-submit{
                        width:100%;
                    }
                    .hs-submit{
                        input{
                            &.hs-button{
                                width: 240px;
                                height: 48px;
                                gap: 10px;
                                padding-right: 24px;
                                padding-left: 24px;
                                border-radius: 10px;
                                background-color: v.$primary-color;
                                font-family: v.$primary-font;
                                font-weight: 700;
                                font-style: Bold;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0%;
                                color:#fff;
                                &:hover{
                                    background-color: darken(v.$primary-color, 10%);
                                    border-color: darken(v.$primary-color, 10%);
                                }
                            }
                        }
                        
                    }
                    .input{
                        margin-left:0;
                    }
                    label{
                        font-family: v.$primary-font;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        float:none;
                        text-align: left;
                        display: flex;
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    .hs-form-required{
                        display: none;
                    }
                
                }
                
            }
        }
    }

    //Slick Slider Overrides
    .slick-slider-container {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease; /* Optional smooth transition */
    }

    .slick-slider-container.slick-initialized {
        opacity: 1;
        visibility: visible;
    }
    .slick-slide {
        margin: 0 10px; /* Adjust 10px for your desired spacing */
    }

        /* Compensate with a negative margin on the parent container */
    .slick-list {
        margin: 0 -10px;
    }
}