#carouselQuiz {
  z-index: 100;
}
#carouselQuiz.carousel {
  /* Custom CSS to make the fade transition faster (0.3 seconds) */
}
#carouselQuiz.carousel .carousel-item {
  transition: opacity 0.3s ease-in-out;
}
#carouselQuiz.carousel {
  /* Ensure other necessary styles for the fade effect are correct */
}
#carouselQuiz.carousel .carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
}
#carouselQuiz.carousel .carousel-fade .carousel-item.active,
#carouselQuiz.carousel .carousel-fade .carousel-item-next.carousel-item-left,
#carouselQuiz.carousel .carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
#carouselQuiz.carousel .carousel-item .text-box {
  padding-top: 0;
}
#carouselQuiz.carousel .carousel-item a.carousel-link {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #575757;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
}
#carouselQuiz.carousel .carousel-item a.carousel-link:before {
  content: "\f104";
  font-family: FontAwesome;
  margin-right: 5px;
  font-weight: 500;
}
#carouselQuiz .modal-dialog {
  min-width: 840px;
}
#carouselQuiz .modal-body {
  padding: 0 2rem 2rem;
}
#carouselQuiz .modal-header {
  padding: 2rem 2rem 0;
  border-bottom: 0 !important;
}
#carouselQuiz .btn-white {
  color: #163D5C;
}
#carouselQuiz .results-item .results-container {
  opacity: 0;
  transition: opacity 0.5;
  min-height: 350px;
}
#carouselQuiz .input-form-group {
  padding: 0 5px;
}
#carouselQuiz .input-form-group .form-check {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #2A2A2A;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0;
  padding: 15px 20px;
  vertical-align: middle;
  white-space: nowrap;
}
#carouselQuiz .input-form-group .form-check:not(:last-child) {
  margin-bottom: 20px;
}
#carouselQuiz .input-form-group .form-check .form-check-input {
  margin-left: 0;
  margin-right: 20px;
  width: 18px;
  height: 18px;
  margin-top: 0;
  border: 1px solid #AAAAAA;
}
#carouselQuiz .input-form-group .search-input {
  align-items: center;
}
#carouselQuiz .input-form-group .search-input:after {
  font-family: FontAwesome;
  font-weight: 500;
  content: "\f002";
  position: absolute;
  right: 15px;
}
#carouselQuiz .input-form-group select {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
#carouselQuiz .input-form-group input[type=text], #carouselQuiz .input-form-group input[type=email], #carouselQuiz .input-form-group input[type=tel] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #2A2A2A;
  width: 100%;
}
#carouselQuiz .input-group-radio {
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #carouselQuiz .input-group-radio {
    width: 100%;
  }
}
#carouselQuiz .input-group-radio.w-25:not(:nth-child(4n+1)) {
  padding: 0 10px;
}
#carouselQuiz .input-group-radio.w-25:nth-child(4n+4) {
  padding-right: 0;
}
#carouselQuiz .input-group-radio.w-33:not(:nth-child(3n+1)) {
  padding: 0 10px;
}
#carouselQuiz .input-group-radio.w-33:nth-child(3n+3) {
  padding-right: 0;
}
#carouselQuiz .input-group-radio.w-33 label {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 15px;
}
#carouselQuiz .input-group-radio:not(:last-child) {
  margin-bottom: 20px;
}
#carouselQuiz .input-group-radio input[type=radio]:empty {
  display: none;
}
#carouselQuiz .input-group-radio input[type=radio]:checked ~ label {
  border-color: rgb(173, 173, 173);
  background-image: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  outline: 0 none;
}
#carouselQuiz .input-group-radio .radio-btn-default input[type=radio]:checked ~ label {
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
}
#carouselQuiz .input-group-radio .radio-btn-primary input[type=radio]:checked ~ label {
  color: #fff;
  background-color: #163D5C;
}
#carouselQuiz .radio-btn label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #2A2A2A;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
#carouselQuiz .radio-btn:hover label {
  background-color: rgb(230, 230, 230);
  border-color: rgb(173, 173, 173);
  color: rgb(51, 51, 51);
}
#carouselQuiz .input-group-lg .radio-btn label {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#carouselQuiz .student-info .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#carouselQuiz .student-info .input-group label {
  margin-bottom: 10px;
}
#carouselQuiz .student-info .checkbox-line {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#carouselQuiz .student-info .checkbox-line input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #2A2A2A;
  border-radius: 4px;
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: white;
  transition: background 0.2s ease-in-out;
}
#carouselQuiz .student-info .checkbox-line input[type=checkbox]::after {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #2A2A2A;
  /* This creates a simple "inner box" check. 
  For a real "L" shaped checkmark, see the clip-path below */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#carouselQuiz .student-info .checkbox-line input[type=checkbox]:checked {
  border-color: #2A2A2A;
}
#carouselQuiz .student-info .checkbox-line input[type=checkbox]:checked::after {
  transform: scale(1);
}
#carouselQuiz .student-info .checkbox-line input[type=checkbox]:focus {
  outline: 2px solid #2A2A2A;
  outline-offset: 2px;
}
#carouselQuiz .student-info input[type=text], #carouselQuiz .student-info input[type=email], #carouselQuiz .student-info input[type=tel] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #2A2A2A;
  width: 60%;
}
@media screen and (max-width: 768px) {
  #carouselQuiz .student-info input[type=text], #carouselQuiz .student-info input[type=email], #carouselQuiz .student-info input[type=tel] {
    width: 100%;
  }
}
#carouselQuiz .school-results-list {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#carouselQuiz .school-results-list.slick-initialized {
  opacity: 1;
}
#carouselQuiz .school-results-list .slick-track {
  display: flex !important;
  justify-content: center;
}
#carouselQuiz .school-results-list .slick-prev, #carouselQuiz .school-results-list .slick-next {
  top: unset;
  bottom: -70px;
  width: 50px;
  height: 50px;
  z-index: 2;
}
#carouselQuiz .school-results-list .slick-prev:before, #carouselQuiz .school-results-list .slick-next:before {
  color: #163D5C;
  font-size: 24px;
  font-weight: 500;
  font-family: FontAwesome;
}
#carouselQuiz .school-results-list .slick-dots {
  bottom: -35px;
}
#carouselQuiz .school-results-list .slick-dots li button {
  width: 30px;
  height: 30px;
}
#carouselQuiz .school-results-list .slick-dots li button:before {
  height: 30px;
  width: 30px;
  font-size: 10px;
}
#carouselQuiz .school-results-list .slick-prev {
  left: -15px;
}
#carouselQuiz .school-results-list .slick-prev:before {
  content: "\f104";
}
#carouselQuiz .school-results-list .slick-next {
  right: -15px;
}
#carouselQuiz .school-results-list .slick-next:before {
  content: "\f105";
}
#carouselQuiz .school-results-container > div:not(.slick-slide) {
  display: flex;
  flex-wrap: nowrap;
}
#carouselQuiz .school-results-container .box-card {
  margin-bottom: 30px;
}
#carouselQuiz .school-results-container .box-card .result-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  container-type: inline-size;
}
#carouselQuiz .school-results-container .box-card .result-header p {
  line-height: 1.2;
  /* Optional: use clamp to prevent it from getting too tiny or huge */
  font-size: clamp(8px, 5.4cqw, 20px);
}
#carouselQuiz .school-results-container .box-card .result-header .title {
  width: 65%;
}
#carouselQuiz .school-results-container .box-card .result-header .title h6 {
  /* Optional: use clamp to prevent it from getting too tiny or huge */
  font-size: clamp(13px, 8cqw, 20px);
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#carouselQuiz .school-results-container .box-card .result-header .logo-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carouselQuiz .school-results-container .box-card .school-details ul {
  padding-left: 0;
}
#carouselQuiz .school-results-container .box-card .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#carouselQuiz .school-results-container .box-card .btn-container a {
  width: 50%;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
  min-width: unset;
}
#carouselQuiz .school-results-container .box-card .btn-container a:first-child {
  font-size: 10px;
  margin-right: 5px;
}
#carouselQuiz .school-results-container .box-card .btn-container a:last-child {
  margin-left: 5px;
}
#carouselQuiz .university-logos img {
  min-width: 100px;
  max-height: 100px;
  width: 100px;
}
#carouselQuiz .university-logos .slick-track {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.bg-light-blue .btn-close {
  filter: brightness(0) invert(1);
}
.bg-light-blue a.carousel-link {
  color: #FFF !important;
}/*# sourceMappingURL=quiz.css.map */